body {
	background-color: #000;
	color: #3f3;
	margin: 10px;
	text-alignment: center;
	width: 100%;
}
div.layout {
	width: 100%;
	height: 50%;
	text-alignment: left;
}
div.axes {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(plumb_line_axes.png);
	background-repeat: no-repeat;
}
div.plumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(plumb_line_plumb.png);
	background-repeat: no-repeat;
}
#plumbLeftRight {
	left: 275px;
	top: 25px;
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
#plumbFrontBack {
	left: 275px;
	top: 25px;
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}